:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 { margin: 0.5rem 1rem; }
  .muted { color: var(--muted); margin: 0 1rem; }
}
