.items-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
  box-sizing: border-box;
  padding: 8%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &::after {
    content: '';
    position: absolute;
    top: 8%;
    left: 8%;
    right: 8%;
    bottom: 8%;
    background: inherit;
    opacity: 0.3;
    border-radius: 1px;
  }
}

