<div class="container" (click)="toggleZoom()" (touchstart)="onTouchStart($event)">
  <div class="layer">
    <app-grid 
      [gridSize]="gridConfig.gridSize" 
      [backgroundColor]="gridConfig.gridBackgroundColor" 
      [backgroundImage]="gridConfig.gridBackgroundImage" 
      [backgroundRepeat]="gridConfig.gridBackgroundRepeat" 
      [color]="gridConfig.gridColor" 
      [gridBorder]="gridConfig.gridBorder" 
      [gridBorderActive]="gridConfig.gridBorderActive" 
      [lineWidth]="gridConfig.gridLineWidth" 
      [camera]="camera">
    </app-grid>
  </div>
  <div class="layer obstacles">
    <app-canvas-layer [gridSize]="gridConfig.gridSize" [draw]="drawFrame" [camera]="camera"></app-canvas-layer>
  </div>
  <div class="layer avatars">
    <app-canvas-layer #avatarsCanvas [gridSize]="gridConfig.gridSize" [draw]="drawAvatarFrame" [camera]="camera"></app-canvas-layer>
  </div>
</div>
