:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.container {
  position: relative;
  flex: 1;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.layer {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}

.layer.obstacles {
  z-index: 2; /* above grid */
}

.layer.targets {
  z-index: 3; /* above obstacles */
}

.layer.avatars {
  z-index: 4; /* above targets */
}

